@using Microsoft.AspNetCore.Components.Web
@typeparam Tvalue

<div class="container">
    <ul class="parentUl">
        @if (AllItems != null)
        {
            @foreach (var Pitem in AllItems)
            {
                if (GetPropertyValue(Pitem, ParentId) == "" || Convert.ToInt32(GetPropertyValue(Pitem, ParentId)) == 0)
                {
                    if (Convert.ToBoolean(GetPropertyValue(Pitem, HasChildren)))
                    {
                        <li>
                            <button @onclick="@(e => SpanToggle(e, Pitem))" class="@_caretcss[Convert.ToInt32(GetPropertyValue(Pitem, Id))]">@GetPropertyValue(Pitem, Text)</button>
                            <ul class="@_nestedcss[Convert.ToInt32(GetPropertyValue(Pitem, Id))]">

                                @foreach (var Citem in AllItems)
                                {
                                    if (GetPropertyValue(Pitem, Id) == GetPropertyValue(Citem, ParentId))
                                    {
                                        if (Convert.ToBoolean(GetPropertyValue(Citem, HasChildren)))
                                        {
                                            <li>
                                                <span @onclick="@(e => SpanToggle(e, Citem))" class="@_caretcss[Convert.ToInt32(GetPropertyValue(Citem, Id))]">@GetPropertyValue(Citem, Text)</span>
                                                <ul class="@_nestedcss[Convert.ToInt32(GetPropertyValue(Citem, Id))]">
                                                    @foreach (var C1item in AllItems)
                                                    {
                                                        if (GetPropertyValue(Citem, Id) == GetPropertyValue(C1item, ParentId))
                                                        {
                                                            if (Convert.ToBoolean(GetPropertyValue(C1item, HasChildren)))
                                                            {
                                                                <li>
                                                                    <span @onclick="@(e => SpanToggle(e, C1item))" class="@_caretcss[Convert.ToInt32(GetPropertyValue(C1item, Id))]">@GetPropertyValue(C1item, Text)</span>
                                                                    <ul class="@_nestedcss[Convert.ToInt32(GetPropertyValue(C1item, Id))]">
                                                                        @foreach (var C2item in AllItems)
                                                                        {
                                                                            if (GetPropertyValue(C1item, Id) == GetPropertyValue(C2item, ParentId))
                                                                            {
                                                                                if (Convert.ToBoolean(GetPropertyValue(C2item, HasChildren)))
                                                                                {
                                                                                    <li>
                                                                                        <span @onclick="@((e)=>SpanToggle(e, C2item))" class="@_caretcss[Convert.ToInt32(GetPropertyValue(C2item, Id))]">@GetPropertyValue(C1item, Text)</span>
                                                                                    </li>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <li>@GetPropertyValue(C2item, Text)</li>
                                                                                }
                                                                            }
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li>@GetPropertyValue(C1item, Text)</li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>@GetPropertyValue(Citem, Text)</li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@GetPropertyValue(Pitem, Text)</li>
                    }
                }
            }
        }
    </ul>
</div>
